<ion-view hide-nav-bar="true" scroll="false" >
    <img src="img/achivement.png" alt="">
    <ion-content class="padding">
        <div class="row">
                <div class="col responsive-sm">
                    <div class="col"  style="padding-left:100px;padding-right:100px">
                       
                    </div>
                    <div class="row" style="padding-left:158px;padding-top:76px;padding-right:100px">
                            <div class="col">
                                <a href="#/course/2"> <img src="img/ck.png" ></a>   
                            </div>
                            <div class="col">
                                <a href="#/course/2"> <img src="img/bp.png" ></a>  
                            </div>
                            <div class="col">
                                <a href="#/course/2"> <img src="img/qc.png"></a>
                            </div>
                     </div>
                    <div class="col"></div>
                </div>
        </div>
    </ion-content>
</ion-view>