
<ion-view >
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title right-buttons="rightButtons">
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
  <ion-content >
      <div style="background-image:url('img/titledivb.png'); border-radius:5px; padding:5px">
          <div class="row" style="height:60px">
              <img src="{{chats.img}}" style="border-radius:40px; width:50px"><h4 style="padding-left:10px">{{chats.user}}</h4>
          </div>

          <p style="font-style:normal; font-size:larger; padding-left:10px;">
              {{chats.message}}
          </p>
      </div>
      <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right"  ng-repeat="reply in replys" ng-if="chats.$id === reply.chat " type="item-text-wrap">
              <img  src="{{reply.img}}">
              <h2>{{reply.user}}</h2>
              <p style="white-space: normal;">{{reply.reply}}</p>
              <i class="icon ion-chevron-right icon-accessory"></i>
              <ion-option-button class="button-assertive"  ng-if="reply.user===cuser" ng-click="deletereply(reply)">
                  Delete
              </ion-option-button>
          </ion-item>
      </ion-list>
          <form>
              <div class="list">
                  <div class="item item-input-inset">
                      <label class="item-input-wrapper">
                          <input type="text" placeholder="Reply.." ng-model="reply.message">
                      </label>
                      <button class="button button-positive ion-ios-chatboxes" ng-click="sendReply(chats,reply)"></button>
                  </div>

              </div>
          </form>
</ion-content>
</ion-view>
