
  <div class="list">
    <label class="item item-input">
      <input type="password" placeholder="Old Password" ng-model="data.oldPwrd" >
    </label>
    <label class="item item-input">
      <input type="password" placeholder="New Password"ng-model="data.newPwrd">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="Confirm New Password" ng-model="data.confirmNewPwrd" >
    </label>

    <button class="button button-block button-calm"
     ng-click="changeUserPassword(data)">
      Edit
    </button>

  </div>
