<ion-view hide-nav-bar="true" scroll="false">
    <img src="img/classroomq.jpg" alt="">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="col responsive-sm" align="center">
                    <div style="background:none;">
                        <div style="border-radius: 25px; background-image:url('img/quiztit.png'); width:400px; height:55px; margin-bottom:10px;">
                        </div>
                        <quiz />
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>