<ion-view hide-nav-bar="true">
    <ion-content scroll="false">
        <ion-slides options="options" slider="data.slider">
            <ion-slide-page>
                <div class="box blue">
                    <img src="http://cdn.usborne.com/catalogue/covers/eng/max_covers/9781409523352.jpg?width=160" />
                </div>
            </ion-slide-page>
            <ion-slide-page>
                <div class="box yellow">http://a2.mzstatic.com/us/r30/Purple2/v4/a8/c2/62/a8c262a5-1d21-495b-5bb4-4418f4b4cec6/screen480x480.jpeg</div>
            </ion-slide-page>
            <ion-slide-page>
                <div class="box pink">http://previews.123rf.com/images/tigatelu/tigatelu1510/tigatelu151000062/45971241-illustration-of-Classic-children-story-Hansel-and-Gretel-Stock-Vector.jpg</div>
            </ion-slide-page>
        </ion-slides>
    </ion-content>

</ion-view>