<ion-view hide-nav-bar="true" scroll="false">
    <img src="img/classroom.jpg" alt="">
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <img src="http://cdn.usborne.com/catalogue/covers/eng/max_covers/9781409523352.jpg?width=200" />
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1 class="title" style="color:white">Friends</h1>
                        <div class="col">
                            <h4 class="title" style="color:white">This story starts with four different animals which are friends </h4>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="#/storybookcontent" class="button button-block button-balanced">Read</a>
                            </div>
                            <div class="col">
                                <a href="#/storybookcontent" class="button button-block button-balanced">Auto Play</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>