<ion-view hide-nav-bar="true" scroll="false">
    <img src="img/classroomst2.png" alt="">
    <ion-content class="padding"  scroll="false">
        <div class="col responsive-sm">
            <div class="row" style="padding-top:50px;padding-bottom:50px">
                    <div style="width:255px;">
                        <img src="{{storybook.images[0]}}" style="width:250px;height:inherit;border-radius:10px" />
                    </div>
                    <div class="col" style="width:320px;border-radius:10px; background-image:url('img/titledivb.png')">
                        <div class="row">
                            <div class="col">
                                <h1 class="title" style="color:white">{{storybook.title}}</h1>
                                <div class="col" style="font-style:normal; font-size:larger;">
                                  {{storybook.description}}
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a ng-click="readBook(storybook)" class="button button-block button-balanced">Read</a>
                                    </div>
                                    <div class="col">
                                        <a href="#/storybookcontent" class="button button-block button-balanced">Auto Play</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </ion-content>
</ion-view>



