<ion-view hide-nav-bar="true" scroll="false">
    <img src="img/classroom.jpg" alt="">
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <img src="{{storybook.images[0]}}" style="width:200px;height:200px;margin-left:10px" />
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1 class="title" style="color:white">{{storybook.title}}</h1>
                        <div class="col">
                            <h4 class="title" style="color:white">{{storybook.description}}</h4>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a ng-click="readBook(storybook)" class="button button-block button-balanced">Read</a>
                            </div>
                            <div class="col">
                                <a href="#/storybookcontent" class="button button-block button-balanced">Auto Play</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>