<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon"  menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title right-buttons="rightButtons">
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
    <ion-content>
        <h2 style="color:darkgray">Parent's <small>Discussion Forum</small></h2>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap"  href="#/tab/chats/{{chat.$id}}">
                <img  src="{{chat.img}}">
                <h2>{{chat.user}}</h2>
                <p>{{chat.message}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive"  ng-if="chat.user===cuser" ng-click="deletechat(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
        <form>
            <div class="list" style="position: absolute;bottom: 0;width: 100%;">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Message.." ng-model="chat.message" >
                    </label>
                    <button class="button button-positive ion-ios-chatboxes" ng-click="sendChat(chat)"  ng-disabled="!chat.message"></button>
                </div>

            </div>
        </form>
        </ion-content>
</ion-view>
