<ion-view>

    <ion-content class="padding">
        <div class="list card">

            <div class="item item-avatar">
                <img src="img/owl.png">
                <h2>Welcome to kiddo</h2>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/banner.jpg">
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                </p>
                
            </div>



        </div>
    </ion-content>
</ion-view>
