<ion-view >
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title right-buttons="rightButtons">
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
    <ion-content class="padding">
      <div class="list card">

    <div class="item item-avatar">
      <img src="img\smiley.jpg">
      <h2>Sign Up!</h2>
    </div>

    <div class="item item-body">
      <img class="full-image" src="img\loginbanner.jpg">

      <form >
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input type="text" placeholder="Username" ng-model="data.username" required>
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email" ng-model="data.email" required>
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Password" ng-model="data.password"  id="password" required>
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Confirm Password</span>
            <input type="password" placeholder="Confirm Password" ng-model="data.password2" id="confirm_password"  required >
          </label>
          <label class="item">
            <button class="button button-block button-calm" ng-click="addUserEmail(data)">Sign Up</button>
          </label>

        </div>
      </form>




    </div >  <!--div class="item item-body"-->
    </div>
  </div>
    </ion-content>
</ion-view>
