<ion-view >
    <ion-content class="padding">
      <div class="list card">

    <div class="item item-avatar">
      <img src="img\smiley.jpg">
      <h2>Register your child</h2>
    </div>

    <div class="item item-body">
      <img class="full-image" src="img\loginbanner.jpg">

      <form name="myForm" novalidate>
        <div class="list">

          <label class="item item-input item-floating-label">
            <span class="input-label">Name</span>
            <input type="text" placeholder="Name" ng-model="data.name1">
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Grade
            </div>

            <select ng-model="data.grade"  >
              <option value="0">Select</option>
              <option value="2">2</option>
              <option value="3"> 3</option>
              <option value="4">4</option>
            </select>

          </label>


          <label class="item">
            <button class="button button-block button-calm" ng-click="addChildAccount(data)">Submit</button>
          </label>

        </div>
      </form>




    </div >  <!--div class="item item-body"-->
    </div>
  </div>
    </ion-content>
</ion-view>
